<h1>Bill Summary</h1>

<form method="post" action="/calc">
	<div class="line">
		<label>Bill #1</label> 
		<div class="blank">$<input type="text" name="bill1" class="number"/></div>

		<label>Bill #2</label> 
		<div class="blank">$<input type="text" name="bill2" class="number"/></div>

		<label>Bill #3</label> 
		<div class="blank">$<input type="text" name="bill3" class="number"/></div>

		<label>Bill #4</label> 
		<div class="blank">$<input type="text" name="bill4" class="number"/></div>

		<label>Bill #5</label> 
		<div class="blank">$<input type="text" name="bill5" class="number"/></div>
	</div>

	<input type="submit" class="button"/>
</form>