html,body{
	background-color: #ffd83d;
	margin: 0;
	font-family: sans-serif;
	
}

header {
	background-color: #7cd762;
	border-top: 1px solid #3498DB;
}

header h1{
	font-family: 'Indie Flower', cursive;
	padding-left: 600px;
	font-size: 100px;
	color: #d94a88;
	text-shadow: .07em .07em #2C3E50;
}

nav {
	background-color: #ffa066;
}
nav ul {	
	padding: .5em 2rem;
	padding-left:4em;
	font-family:sans-serif;
}

nav li{
	display: inline;
	padding:1;
	padding-left:12em;
	text-transform: lowercase;
	text-shadow: .02em .02em gre;
}

nav a{	 
	color: #ECF0F1; 
	text-decoration: none;
}

nav a:hover{
	color: 	#ffe28a;
}

.content{
	font-family: sans-serif;
	position: center;
	padding-left: 50px;
	
}

h1,h2,h3,h4{
	font-family: 'Indie Flower', cursive;
	color: #03aacc;
	padding-left:9em;
	font-size: 28px;
}
footer{
	position:absolute;
	bottom:0;
	padding-left:50em;
	background-color: #2C3E50;
	width: 52.8%;
	font-family: 'Poiret One', cursive;
	color: #ECF0F1;
}

img{
	position:absolute;
	padding-left:-10em;
	width: 40%;
	height: 40%;
}
#container{
	padding-left: 35em;
	height: 40%;
}

audio{
	position: relative;

}