header{
	font-size: 90px;
	float: center;

}

li{list-style: none;
position: center;

}


.thumbnail:hover {
	background-color: red;
    position:center;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:inline;
    z-index:999;
}

.off{
	background-color: #B9121B; /*red*/
}
.on{
	background-color: #167F39; /*green*/
}