<html>
 <head>
 	<meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
	<title>I LOVE THE 90s</title>
	<link href='https://fonts.googleapis.com/css?family=Lobster|Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css" />
 </head>

 <body>
  <header>
  	<h1>I LOVE THE 90s</h1>
  	<nav>
  		<ul>
  			<li><a href="/cartoons">Cartoons</a></li>
  			<li><a href="/movies">Movies</a></li>
  			<li><a href="/music">Music</a></li>
  		  <li><a href="/popculture">Pop Culture</a></li>
  		</ul>
  	</nav>
  </header>
  <div class="content">

  	 {{{ body }}}

  </div>
  <footer>Don't you just love the 90s</footer>
 </body>
</html>